.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newTask {  
  margin-top: calc(0px - 1.625rem);
}

.newTaskForm {
  display: flex;
  gap: 1rem;
}

.newTaskForm>input {
  width: 39.875rem;
  padding: 1rem;   
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--gray-300);
}

.newTaskForm>input:focus {
  border-color: var(--purple-dark);
  color: var(--gray-100);
}

.newTaskForm button {
  background: var(--blue-dark);
  color: var(--gray-100);
  width: 5.625rem;
  height: 3.25rem;

  border: 0;
  border-radius: 8px;

  padding: 1rem;
  font-weight: bold;
}

.newTaskForm button:hover {
  background: var(--blue);
}

.taskList {
  margin-top: 4rem;
}

.taskListStatus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}